body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.menu {
    background: #686868 repeat left top;
    left: -350px;
    height: 100%;
    top: 0;
    position: fixed;
    width: 350px;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}
.menu a {
    color: pink;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid;
}
.icon-close {
    cursor: pointer;
    padding-right: 30px;
    text-align: right;
    padding-top: 10px;
}
.icon-close h1 {
    cursor: pointer;
    padding-left: 10px;
    color: #fff;
    font-weight: 600;
}
.icon-menu {
    cursor: pointer;
    font-size: 30px;
    padding-bottom: 25px;
    padding-left: 25px;
    text-decoration: none;
    text-align: left;
}
.icon-menu i {
    margin-right: 5px;
}
.icon-menu p {
    border-bottom: 2px solid;
    max-width: 79px;
}
.imgperfil{
    width: 60px;
    position:absolute;
    right:50px;
    top: 20px;

}