a{
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  padding: 6px;
}

.nav-itemdropdown {
  position: relative;
  padding: 4px;
}

.dropdown:hover .dropdown-menu{
  display: flex;
}
.dropdown .dropdown-menu {
  flex-direction: column;
  display: none;
 background: white;
 }

.dropdown .dropdown-menu a:hover {
  background: #e6e6e6;
  transition: 100ms;
  border-radius: 4px;
}

body{
	 font-family: Nunito, sans-serif;
	 color:#1c1c1c;
}
h1,h2,h3{
	font-family: Asap, sans-serif;
	 color:#000000;

}

.navbar{
	background-color: #353839;
}
.navbar-font{
	font-family: Yellowtail;
	font-size: 30px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(https://images8.alphacoders.com/429/thumb-1920-429202.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #FFFFFF;
	text-align: center;
	padding:20px;
}
header h1{
	color: #FFFFFF;
}
header p{
	margin-bottom: 2em;

}
#card{
	margin: 10px;
}
#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px 20px 20px;
	background-color: #353839;
	color:#FFFFFF;
}
#sobre h2{
	color: #FFFFFF;
}
#sobre p {
	margin-bottom: 2.5em;
	max-width: 1000px;
}
}
#serviços{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;

}
#serviços div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;

}
#fotos {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}
#fotos h2 {
	margin-bottom: 20px;
}
#fotos img {
	width: 100%;
}
#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}
#contato h2 {
	color: #000000
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #353839;
	color: #FFFFFF;
}
footer a {
	text-decoration: none;
	color: #00FFFF;

}

@media screen and (min-width: 768px) {
	nav {
		flex-direction: row;
		justify-content: space-around;
	}
	nav ul {
		flex-direction: row;
		width: 70%
	}
}
header {
	height: 600px;
	height: 60vh;
	justify-content: center;
}
#sobre{
	height: 250px;
	height: 30vh;
	justify-content: center;
	min-height: 250px;
}
#serviços {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;

}
#serviços h2 {
	text-align: center;
	width: 100%;
}

#serviços div {
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;
}

#fotos {
	flex-direction: row;
	flex-wrap: wrap;

}
#fotos h2{
	width: 100%;
	text-align: center;
}
#fotos img{
	width: 33.333333%;
}
#contato {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 500px;
	margin: 0 auto;
}
#contato h2, #contato p {
	width: 100%
}
.footer-info{
	text-align: center;


}
a{
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  padding: 6px;
}

.nav-itemdropdown {
  position: relative;
  padding: 4px;
}

.dropdown:hover .dropdown-menu{
  display: flex;
}
.dropdown .dropdown-menu {
  flex-direction: column;
  display: none;
 background: white;
 }

.dropdown .dropdown-menu a:hover {
  background: #e6e6e6;
  transition: 100ms;
  border-radius: 4px;
}

body{
	 font-family: Nunito, sans-serif;
	 color:#1c1c1c;
}
h1,h2,h3{
	font-family: Asap, sans-serif;
	 color:#000000;

}

.navbar{
	background-color: #353839;
}
.navbar-font{
	font-family: Yellowtail;
	font-size: 30px;
}


body {
    left: 0;
    margin: 0;
    position: relative;
}

.menu {
    background: #686868 repeat left top;
    left: -350px;
    height: 100%;
    top: 0;
    position: fixed;
    width: 350px;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}
.menu a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid;
}
.icon-close {
    cursor: pointer;
    padding-right: 30px;
    text-align: right;
    padding-top: 10px;
}
.icon-close h1 {
    cursor: pointer;
    padding-left: 10px;
    color: #fff;
    font-weight: 600;
}
.icon-menu {
    cursor: pointer;
    font-size: 30px;
    padding-bottom: 25px;
    padding-left: 25px;
    text-decoration: none;
    text-align: left;
}
.icon-menu i {
    margin-right: 5px;
}
.icon-menu p {
    border-bottom: 2px solid;
    max-width: 79px;
}
.imgperfil{
    width: 60px;
    position:absolute;
    right:50px;
    top:0px;

}
.nav-user{
  color: white;
}
a1{
  text-decoration: none;
  font-size: 25px;

}
.container img bike{
    max-width:625px;
    max-height:625px;
    width: auto;
    height: auto;
    object-fit: fill;
}