{% extends 'base.html' %}

{% block assunto %}
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Nunito:wght@700&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}

{% block titulo %}LocBike{% endblock %}
{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
              <a class="navbar-brand navbar-font" href="#">LockBike</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Olá, {{session.user_name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastrodebicicletas">Cadastro de Bikes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catálogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/bikescasuais">Bikes Casuais</a>
          <a class="dropdown-item" href="/bikesesportivas">Bikes Esportivas</a>
          <a class="dropdown-item" href="/bikesdepasseios">Bikes de Passeio</a>
        </div>
      </li>
    </ul>
    <div class="menu">





        <!-- Botão de Fechar -->
        <!-- Pode ser trocado por uma imagem ou icone -->

        <div class="icon-close">
            <h1>X</h1>
        </div>


    <p3> <img src="/static/img/Perfil.png.png" width="60" height="60" align="left"> </p3>
<li class="nav-item">
        <a1 class="nav-user" href="#"> {{session.user_name}}</a1>
      </li>
      <br />
        <!-- Menu -->
        <ul>

   <li><a href="#">Suas bikes alugadas</a></li>
    <li><a href="#">Suas bikes cadastradas</a></li>
     <li><a href="#">Atualizar seus dados</a></li>
     <br>
          <br>
               <br>
                    <br>
                         <br>
                              <br>
                                   <br>
                                     <br>
                                       <br>
                                         <br>
                                           <br>











      <li><a class="nav-link active" aria-current="page" href="/logout">SAIR</a></li>
  </ul>

    </div>
    <!-- Corpo do Site -->
    <div class="container">
        <div class="icon-menu">
<img class="imgperfil" src="/static/img/Perfil.png.png">

        </div>
    </div>

    <script src="/static/js/barra.js" ></script>
  </div>
  </div>
</nav>
<div class="container">
<div class="boz">


<div class="card ">
  <div class="card-body">
  <h3>
Atualize seus dados
<form action = "/atualizar"  method="POST">
</h3>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="nome_atual">Nome Atual</label>
                                            <input type="text" name="nome_atual" class="form-control" value="{{current_user.name}}"disabled>
    </div>
    <div class="form-group col-md-5">
      <label for="nome_novo">Novo Nome</label>
                                            <input type="text" name="nome_novo" class="form-control">
    </div>
  </div>
   <div class="form-row">
    <div class="form-group col-md-5">
     <label for="sobrenome_atual">Sobrenome Atual</label>
                                            <input type="text" name="sobrenome_atual" class="form-control"value="{{current_user.lastname}}"disabled>
    </div>
    <div class="form-group col-md-5">
       <label for="sobrenome_novo">Novo Sobrenome</label>
                                            <input type="text" name="sobrenome_novo" class="form-control">
    </div>




  </div>
    <div class="form-row">
    <div class="form-group col-md-5">
      <label for="email_atual">Email Atual</label>
                                            <input type="email" name="email_atual" class="form-control"value="{{current_user.email}}"disabled>
    </div>
    <div class="form-group col-md-5">
<label for="email_novo">Novo Email</label>
                                            <input type="email" name="email_novo" class="form-control">
    </div>




  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="senha_atual">Senha Atual  </label>
                                            <input type="password" name="senha_atual" class="form-control" required>
    </div>
    <div class="form-group col-md-5">
      <label for="senha_nova">Nova Senha</label>
                                            <input type="password" name="senha_nova" class="form-control">
    </div>



<button type="submit" class="btn btn-primary-dark">Atualizar</button>
  </div>


  </div>
  </div>
  </div>

  </div>
 {% endblock %}