<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/static/css/barra.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="menu">
        <!-- Botão de Fechar -->
        <!-- Pode ser trocado por uma imagem ou icone -->

        <div class="icon-close">
            <h1>X</h1>
        </div>
        <!-- Menu -->
        <ul>

   <li><a href="/bikescasuais">Bikes Casuais</a></li>
    <li><a href="/bikesesportivas">Bikes Esportivas</a></li>
     <li><a href="/bikesdepasseios">Bikes de Passeio</a></li>
  </ul>

    </div>
    <!-- Corpo do Site -->
    <div class="container">
        <div class="icon-menu">
            <p> Catálogo </p>
        </div>
    </div>

    <script src="/static/js/barra.js" ></script>
</body>
</html>