{% extends 'base.html' %}

{% block assunto %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

{% endblock %}

{% block titulo %}LocBike{% endblock %}
{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
              <a class="navbar-brand navbar-font" href="#">LockBike</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Olá, {{session.user_name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastrodebicicletas">Cadastro de Bikes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catálogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/bikescasuais">Bikes Casuais</a>
          <a class="dropdown-item" href="/bikesesportivas">Bikes Esportivas</a>
          <a class="dropdown-item" href="/bikesdepasseios">Bikes de Passeio</a>
        </div>
      </li>
    </ul>
    <div class="menu">





        <!-- Botão de Fechar -->
        <!-- Pode ser trocado por uma imagem ou icone -->

        <div class="icon-close">
            <h1>X</h1>
        </div>


    <p3> <img src="/static/img/Perfil.png.png" width="60" height="60" align="left"> </p3>
<li class="nav-item">
        <a1 class="nav-user" href="#"> {{session.user_name}}</a1>
      </li>
      <br />
        <!-- Menu -->
        <ul>

   <li><a href="/bikescasuais">Suas bikes alugadas</a></li>
    <li><a href="/bikesesportivas">Suas bikes cadastradas</a></li>
     <li><a href="/bikesdepasseios">Atualizar seus dados</a></li>
     <br>
          <br>
               <br>
                    <br>
                         <br>
                              <br>
                                   <br>
                                     <br>
                                       <br>
                                         <br>
                                           <br>
                                             <br>
                                               <br>
                                                 <br>
                                                   <br>
                                                     <br
                                                     <br>
                                                       <br>
                                                         <br>
                                                           <br>
                                                             <br>





      <li><a class="nav-link active" aria-current="page" href="/logout">SAIR</a></li>
  </ul>

    </div>
    <!-- Corpo do Site -->
    <div class="container">
        <div class="icon-menu">
<img class="imgperfil" src="/static/img/Perfil.png.png">

        </div>
    </div>

    <script src="/static/js/barra.js" ></script>
  </div>
  </div>
</nav>



          <div class="container">
          <div class="row" class="container">

<div class="card" style="width: 18rem;">
  <img src=" https://static.netshoes.com.br/produtos/bicicleta-aro-24-rebaixada-18-marchas-aco-carbono-ultra-bikes/22/ISL-0026-022/ISL-0026-022_zoom1.jpg?ts=1611395732&" class="card-img-top" alt="GTS Feel">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Gts Feel </h5>
    <p class="card-text">Marca: GTS <br>
             Gênero: Unissex<br>
             Aro: 26<br>
             Marchas: 21<br>
             Suspensão: Dianteira<br>
             Modalidade:Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-29-spaceline-orion-21-velocidades-freio-a-disco/91/PDS-0002-791/PDS-0002-791_zoom1.jpg?ts=1587085730&" class="card-img-top" alt="Orin">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Spaceline Orion </h5>
    <p class="card-text">Marca:Spaceline <br>
Gênero:Unissex<br>
Aro: 29<br>
Marchas: 21<br>
Suspensão: Dianteira<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-27-marchas-freio-hidraulico-dropp-aluminum-aro-29-cambio-traseiro-shimano-acera/14/JWY-0032-114/JWY-0032-114_zoom1.jpg?ts=1588092608&" class="card-img-top" alt="Vulcan">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Caloi Vulcan</h5>
    <p class="card-text">Marca:DROPP <br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Marchas: 27<br>
Suspensão:Dianteira<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-dropp-z3-aro-29-cambios-shimano-24v-cambio-tz-freio-a-disco-mecanico-com-suspensao/34/JWY-0168-234/JWY-0168-234_zoom2.jpg?ts=1600258877&?ims=544xhttps://static.netshoes.com.br/produtos/bicicleta-dropp-z3-aro-29-cambios-shimano-24v-cambio-tz-freio-a-disco-mecanico-com-suspensao/34/JWY-0168-234/JWY-0168-234_zoom2.jpg?ts=1600258877&?ims=1088x" class="card-img-top" alt="Dropz3">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Dropp Z3</h5>
    <p class="card-text">Marca: DROPP<br>
Gênero: Unissex<br>
Aro: 29<br>
Marchas: 24<br>
Suspensão: Dianteira<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div>
</div>
</div>



  <div class="container">
          <div class="row" class="container">

<div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-mtb-volcon-aro-29-quadro-aluminio-21-marchas-freio-disco-mecanico-gt-sprint/02/PGU-0156-402/PGU-0156-402_zoom1.jpg?ts=1618311937&" class="card-img-top" alt="volcan">
  <div class="card-body">
    <h5 class="card-title">Bicicleta MTB Volcon</h5>
    <p class="card-text">Marca: GTSPRIN<br>
Gênero: Unissex<br>
Aro: 29<br>
Marchas: 21<br>
Suspensão: Dianteira<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-status-lenda-com-suspensao/14/W60-0036-014/W60-0036-014_zoom1.jpg?ts=1591278440&" alt="Status">
  <div class="card-body">
    <h5 class="card-title"> Bicicleta Aro 26 Status Lenda</h5>
    <p class="card-text">Marca: Status<br>
Gênero: Masculino<br>
Aro: 26<br>
Marchas: 18<br>
Suspensão: Dianteira<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-beach-masculina-7v/56/OIH-0016-256/OIH-0016-256_zoom1.jpg?ts=1617024711&" class="card-img-top" alt="Beach">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Beach</h5>
    <p class="card-text">Marca: ROUTE<br>
Gênero: Masculino<br>
Aro: 26<br>
Marchas: 7<br>
Suspensão: Sem Suspensão<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-29-spaceline-cambio-gta-27-marchas-freios-hidraulicos-aluminio-cubo-k7/94/PDS-0051-794/PDS-0051-794_zoom1.jpg?ts=1597337660&" alt="spaceline 2">
  <div class="card-body">
    <h5 class="card-title">Bicicleta 29 SPACELINE</h5>
    <p class="card-text">Marca: Spaceline<br>
Gênero: Unissex<br>
Aro: 29<br>
Marchas: 27<br>
Suspensão: Dianteira<br>
Modalidade: Passeio<br> </p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div>
</div>
</div>
{% for bicicleta in dados %}
{{bicicleta.id}}
{% endfor %}

{% endblock %}