{% extends 'base.html' %}

{% block assunto %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}

{% block titulo %}LocBike{% endblock %}

{% block conteudo %}
<body>
	 <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
              <a class="navbar-brand navbar-font" href="#">LockBike</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>

                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="index.html">Serviços</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">Entre em contato</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="catalogo.html">Catálogo</a>
                  </li>
                  </li>

                </ul>

              </div>
            </div>
          </nav>
          <div class="container">
          <div class="row" class="container">

<div class="card" style="width: 18rem;">
  <img src= "https://static.netshoes.com.br/produtos/bicicleta-aro-26-status-panda/08/W60-0019-008/W60-0019-008_zoom1.jpg?ts=1588707027&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer </h5>
    <p class="card-text">Nome: Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer<br>
						 Gênero: Unissex<br>
						 Modalidade: Passeio<br>
						 Aro: 26<br>
						 Marchas: Sem marcha<br>
						 Suspensão: Sem suspensão<br>
						 Indicado para: Praticante<br>
						 Marca: Ultra Bikes</p>
    <a href="#" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/06/ISL-0039-006/ISL-0039-006_zoom1.jpg?ts=1611397391&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer </h5>
    <p class="card-text">Nome: Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer<br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Aro: 26<br>
Marchas: Sem marcha<br>
Suspensão: Sem suspensão<br>
Indicado para: Praticante<br>
Marca: Ultra Bikes<br></p>
    <a href="#" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/16/ISL-0039-016/ISL-0039-016_zoom1.jpg?ts=1611397372&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer</h5>
    <p class="card-text">Nome: Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer<br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Aro: 26<br>
Marchas: Sem marcha<br>
Suspensão: Sem suspensão<br>
Marca: Ultra Bikes</p>
    <a href="#" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-kyklos-aro-26-circular-55-freio-contrapedal-com-cesta/04/ORA-0027-204/ORA-0027-204_zoom1.jpg?ts=1593094618&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Kyklos Aro 26 Circular 5.5 Freio Contrapedal com Cesta</h5>
    <p class="card-text">Nome:Bicicleta Kyklos Aro 26 Circular 5.5 Freio Contrapedal com Cesta<br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Aro: 26<br>
Marchas: Sem marchas<br>
Suspensão: Sem suspensão<br>
Indicado para: Praticante<br>
Marca:  KYKLOS BIKES</p>
    <a href="#" class="btn btn-primary">Alugar</a>
  </div>
</div>
</div>
</div>



  <div class="container">
          <div class="row" class="container">

<div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/08/ISL-0039-008/ISL-0039-008_zoom1.jpg?ts=1611397349&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer</h5>
    <p class="card-text">Nome: Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer<br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Aro: 26<br>
Marchas: Sem marcha<br>
Suspensão: Sem Suspensão<br>
Indicado para: Praticante<br>
Marca: Ultra Bikes</p>
    <a href="#" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/60/ISL-0039-060/ISL-0039-060_zoom1.jpg?ts=1611397372&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer</h5>
    <p class="card-text">Nome: Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer<br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Marchas: Sem marcha<br>
Suspensão: Sem Suspensão<br>
Indicado para: Praticante<br>
Marca: Ultra Bikes</p>
    <a href="#" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-de-passeio-kls-retro-aro-26-com-freios-v-brake/54/PAK-0007-154/PAK-0007-154_zoom1.jpg?ts=1616414207&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta de Passeio KLS Retro Aro 26 com Freios V-brake</h5>
    <p class="card-text">Nome: Bicicleta de Passeio KLS Retro Aro 26 com Freios V-brake<br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Aro: 24<br>
Marchas: Sem marcha<br>
Suspensão: Sem Suspensão<br>
Indicado para: Praticante<br>
Marca:  KLS</p>
    <a href="#" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/54/ISL-0039-154/ISL-0039-154_zoom1.jpg?ts=1611397368&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer</h5>
    <p class="card-text">Nome: Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer<br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Aro: 26<br>
Marchas: Sem marcha<br>
Suspensão: Sem Suspensão<br>
Indicado para: Praticante<br>
Marca: Ultra Bikes</p>
    <a href="#" class="btn btn-primary">Alugar</a>
  </div>
</div>
</div>
</div>
{% endblock %}