{% extends 'base.html' %}

{% block assunto %}
   <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block titulo %}LocBike{% endblock %}
{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
              <a class="navbar-brand navbar-font" href="#">LockBike</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Olá, {{session.user_name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/cadastrodebicicletas">Cadastro de Bikes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catálogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/bikescasuais">Bikes Casuais</a>
          <a class="dropdown-item" href="/bikesesportivas">Bikes Esportivas</a>
          <a class="dropdown-item" href="/bikesdepasseios">Bikes de Passeio</a>
        </div>
      </li>
    </ul>
    <div class="menu">





        <!-- Botão de Fechar -->
        <!-- Pode ser trocado por uma imagem ou icone -->

        <div class="icon-close">
            <h1>X</h1>
        </div>


    <p3> <img src="/static/img/Perfil.png.png" width="60" height="60" align="left"> </p3>
<li class="nav-item">
        <a1 class="nav-user" href="#"> {{session.user_name}}</a1>
      </li>
      <br />
        <!-- Menu -->
        <ul>

   <li><a href="/bikescasuais">Suas bikes alugadas</a></li>
    <li><a href="/bikesesportivas">Suas bikes cadastradas</a></li>
     <li><a href="/bikesdepasseios">Atualizar seus dados</a></li>
     <br>
          <br>
               <br>
                    <br>
                         <br>
                              <br>
                                   <br>
                                     <br>
                                       <br>
                                         <br>
                                           <br>
                                             <br>
                                               <br>
                                                 <br>
                                                   <br>
                                                     <br
                                                     <br>
                                                       <br>
                                                         <br>
                                                           <br>
                                                             <br>





      <li><a class="nav-link active" aria-current="page" href="/logout">SAIR</a></li>
  </ul>

    </div>
    <!-- Corpo do Site -->
    <div class="container">
        <div class="icon-menu">
<img class="imgperfil" src="/static/img/Perfil.png.png">

        </div>
    </div>

    <script src="/static/js/barra.js" ></script>
  </div>
  </div>
</nav>

          <div class="container">
          <div class="row" class="container">

<div class="card" style="width: 18rem;">
  <img src= "https://static.netshoes.com.br/produtos/bicicleta-aro-26-status-panda/08/W60-0019-008/W60-0019-008_zoom1.jpg?ts=1588707027&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer </h5>
    <p class="card-text">Marca: Ultra Bikes<br>
						 Gênero: Unissex<br>
						 Aro: 26<br>
						 Marchas: Sem marcha<br>
						 Suspensão: Sem suspensão<br>
						 Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/06/ISL-0039-006/ISL-0039-006_zoom1.jpg?ts=1611397391&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer </h5>
    <p class="card-text">Marca: Ultra Bikes<br>
Gênero: Unissex<br>
Modalidade: Passeio<br>
Aro: 26<br>
Marchas: Sem marcha<br>
Suspensão: Sem suspensão<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/16/ISL-0039-016/ISL-0039-016_zoom1.jpg?ts=1611397372&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer</h5>
    <p class="card-text">Marca: Ultra Bikes<br>
Gênero: Unissex<br>
Aro: 26<br>
Marchas: Sem marcha<br>
Suspensão: Sem suspensão<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-kyklos-aro-26-circular-55-freio-contrapedal-com-cesta/04/ORA-0027-204/ORA-0027-204_zoom1.jpg?ts=1593094618&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Kyklos Aro 26 Circular 5.5 Freio Contrapedal com Cesta</h5>
    <p class="card-text">Marca:  KYKLOS BIKES<br>
Gênero: Unissex<br>
Aro: 26<br>
Marchas: Sem marchas<br>
Suspensão: Sem suspensão<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div>
</div>
</div>



  <div class="container">
          <div class="row" class="container">

<div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/08/ISL-0039-008/ISL-0039-008_zoom1.jpg?ts=1611397349&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer</h5>
    <p class="card-text">Marca: Ultra Bikes<br>
Gênero: Unissex<br>
Aro: 26<br>
Marchas: Sem marcha<br>
Suspensão: Sem Suspensão<br>
Modalidade: Passeio<br>
</p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/60/ISL-0039-060/ISL-0039-060_zoom1.jpg?ts=1611397372&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer</h5>
    <p class="card-text">Marca: Ultra Bikes<br>
Gênero: Unissex<br>
Marchas: Sem marcha<br>
Suspensão: Sem Suspensão<br>
Modalidade: Passeio<br>
</p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-de-passeio-kls-retro-aro-26-com-freios-v-brake/54/PAK-0007-154/PAK-0007-154_zoom1.jpg?ts=1616414207&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta de Passeio KLS Retro Aro 26 com Freios V-brake</h5>
    <p class="card-text">Marca:  KLS<br>
Gênero: Unissex<br>
Aro: 24<br>
Marchas: Sem marcha<br>
Suspensão: Sem Suspensão<br>
Modalidade: Passeio<br></p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="https://static.netshoes.com.br/produtos/bicicleta-aro-26-vintage-retro-com-cestinha-ultra-bikes-summer/54/ISL-0039-154/ISL-0039-154_zoom1.jpg?ts=1611397368&">
  <div class="card-body">
    <h5 class="card-title">Bicicleta Aro 26 Vintage Retrô Com Cestinha Ultra Bikes Summer</h5>
    <p class="card-text">Marca: Ultra Bikes<br>
Gênero: Unissex<br>
Aro: 26<br>
Marchas: Sem marcha<br>
Suspensão: Sem Suspensão<br>
Modalidade: Passeio<br>
</p>
    <a href="/alugar" class="btn btn-primary">Alugar</a>
  </div>
</div>
</div>
</div>
{% endblock %}